:root { 
--white_A700_7f:#ffffff7f; 
--indigo_A200_87:#605dec87; 
--blue_A200:#4285f4; 
--blue_A201:#3f79e9; 
--teal_500:#139e87; 
--teal_700:#007b65; 
--bluegray_100_4c:#cbd4e64c; 
--pink_300:#ea568b; 
--black_900_05:#00000005; 
--amber_500:#fbbc05; 
--black_900_0c:#0000000c; 
--bluegray_801:#393955; 
--bluegray_800:#353749; 
--indigo_200:#a1afcc; 
--indigo_A700:#2926d8; 
--cyan_52:#e9fefb; 
--bluegray_400:#7b8db0; 
--cyan_51:#d5fffa; 
--bluegray_200:#afbdd8; 
--cyan_50:#d4fef9; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--gray_52:#fafafe; 
--gray_51:#fafafa; 
--deep_purple_900:#15129f; 
--red_501:#ef4136; 
--red_900:#ac0533; 
--bluegray_700_33:#51517a33; 
--indigo_A200:#605dec; 
--red_300:#ed5e76; 
--red_500:#eb4335; 
--green_A200:#5bd6c0; 
--green_600:#34a853; 
--gray_50:#f6f5fd; 
--teal_400:#22c3a6; 
--teal_402:#1ead93; 
--teal_401:#24ac94; 
--black_900:#000000; 
--deep_purple_A100:#c08ffe; 
--gray_500:#a1a1a1; 
--indigo_900_0c:#1b3a770c; 
--indigo_50:#e8e8fc; 
--bluegray_100:#cbd4e6; 
--bluegray_900:#26263f; 
--green_A200_87:#5bd6c087; 
--cyan_300:#4bdfc5; 
--bluegray_701:#51517a; 
--bluegray_700:#52546f; 
--indigo_100:#bbbaf7; 
--bluegray_500:#6d7391; 
--deep_purple_A100_87:#c08ffe87; 
}